build/
dist/
*egg-info/
.vscode/
.ipynb_checkpoints
__pycache__/
engine_cpp/build/
.DS_Store
tests/agent.csv
tests/link_performance.csv
tests/agent_paths.csv
tests/equity*.csv
tests/zone.csv
tests/syn_demand.csv
accessibility*.csv
*accessibility.csv
**log*