build/
dist/
*egg-info/
.vscode/
.ipynb_checkpoints
__pycache__/
engine_cpp/build/
tests/data/
.DS_Store
*route_assignment.csv
*link_performance.csv
*agent.csv
*agent_paths.csv
*demand.csv
*equity*.csv
*zone.csv
*syn_demand.csv
*trajectory.csv
*accessibility.csv
*final_summary.csv
**log*
*.coverage
*.code-workspace